---
import BaseLayout from '../layouts/BaseLayout.astro';
import RequestContainer from '../components/RequestContainer.astro';
import ResponseContainer from '../components/ResponseContainer.astro';
import GraphQLBody from '../components/GraphQLBody.astro';

const pageTitle = 'Cloud Demo';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This is a demo page showcaseing astro + expressjs + graphql + mongodb</h2>
	<GraphQLBody />
</BaseLayout>
