---
import BaseLayout from '../layouts/BaseLayout.astro';
import RequestContainer from '../components/RequestContainer.astro';
import ResponseContainer from '../components/ResponseContainer.astro';
import GraphQLBody from '../components/GraphQLBody.astro';

let pageTitle = 'Cloud Demo';
---

<BaseLayout pageTitle={pageTitle}>
	<h2>This is a demo page showcaseing astro with live React components + expressjs + graphql + mongodb</h2>
	<GraphQLBody/>
</BaseLayout>
