---
import RequestContainer from "./RequestContainer.astro";
//import ResponseContainer from "./ResponseContainer.astro";
import ResponseContainer from "./ResponseContainer.jsx";

let cardData = {
    "books": [
        {
            "name": "The Fellowship of the Ring"
        }
    ]
};
---

<div class="graphql-container">
    <RequestContainer />
	<ResponseContainer cards={cardData?.books} client:visible/>
</div>