---
import RequestContainer from "./RequestContainer.astro";
import ResponseContainer from "./ResponseContainer.astro";
---

<div class="graphql-container">
    <RequestContainer />
    <button>Send</button>
    <ResponseContainer />
</div>
