---
import Checkbox from './Checkbox.astro';

var myHeaders = new Headers();
myHeaders.append("Content-Type", "application/json");

var raw = JSON.stringify({
  "query": "{__schema {queryType { fields { description } } } }"
});

async function fetchData() {
	var requestOptions = {
		method: 'POST',
		headers: myHeaders,
		body: raw,
	};
	const response = await fetch("http://localhost:5000/graphql?", requestOptions);
	const result = await response.text();
	return result;
}

const result = await fetchData();
const data = JSON.parse(result).data;
const queryType = data.__schema.queryType;
const fields = queryType.fields;

const endpoints = fields.map((field: { description: string}) => field.description);

---

<div class="request-container">
    {endpoints.map((endpoint: { description: string}) => {
        let result = <Checkbox name={endpoint}/>
        if (endpoint.includes("ById")){
            result = <Checkbox name={endpoint}/> <input type="text" placeholder="id" />
        }
        return result;
    })}
</div>